@tailwind base;
@tailwind components;
@tailwind utilities;

.donor-what-to-donate- {
  display: flex;
  justify-content: center; /* Center buttons horizontally */
  gap: 20px; /* Add spacing between buttons */
}

.donor-what-to-donate h1 {
  color: #1976d2;
  font-size: 20px;
  margin-bottom: 0px;
  text-align: center;
  background-color: blanchedalmond;
}
.button-with-image1 img {
  width: 400px;
  height: 150px;
  border-radius: 0;
  margin-bottom: 0px;
  transition: transform 0.3s ease; /* Add smooth transition for scaling */
}
.button-text {
  color: #1976d2; /* Change text color */
}
/* .button-with-image1:hover img {
  transform: scale(2) translateY(37px) translateX(50px);
  opacity: 0.8;
} */
.button-with-image2 img {
  width: 400px;
  height: 150px;
  border-radius: 0;
  margin-bottom: 0px;
  transition: transform 0.3s ease; /* Add smooth transition for scaling */
}
/* .button-with-image2:hover img {
  transform: scale(2) translateY(37px);
  opacity: 0.9;
} */
.button-with-image3 img {
  width: 400px;
  height: 150px;
  border-radius: 0;
  margin-bottom: 0px;
  transition: transform 0.3s ease; /* Add smooth transition for scaling */
}
/* .button-with-image3:hover img {
  transform: scale(2) translateY(37px) translateX(-50px);
  opacity: 0.9;
} */
.clinic-visits h1 {
  color: #1976d2;
  font-size: 20px;
  margin-left: 350px;
  margin-top: 20px;
}
.clinic-visits button {
  background: #1976d2;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}
.clinic-visits button:hover {
  background: #1976d2;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  opacity: 0.8;
}
.clinic-visits {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.clinic-visits input {
  width: 40%;
  margin-top: 10px; /* Optional margin between text boxes */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.teaching-class h1 {
  color: #1976d2;
  font-size: 20px;
  margin-left: 250px;
  margin-top: 20px;
}
.teaching-class button {
  background: #1976d2;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}
.teaching-class button:hover {
  background: #1976d2;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  opacity: 0.8;
}
.teaching-class {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.teaching-class input {
  width: 40%;
  margin-top: 10px; /* Optional margin between text boxes */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.dx-list-item-content > div {
  padding: 5px;
  font-size: 15px;
}


.list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Adjust this according to your spacing preference */
}

.list-item {
  flex-basis: calc(33.33% - 20px); /* Adjust this to control the width of each item */
  margin-bottom: 20px; /* Adjust margin between items */
} 
.learn-more-container {
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  align-content: center;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  max-width: 100%;
}
.learn-more-container h1 {
  color: #1976d2;
  font-size: 20px;
  margin-top: 20px;
  text-align:center;
}
.learn-more-container button {
  background: #1976d2;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}
.learn-more-container button:hover {
  background: #1976d2;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  opacity: 0.8;
}
.learn-more-container img {
  max-width: 100%; /* Ensure the image does not exceed the width of its container */
  max-height: 100%;
  width: 35%;
  border-radius: 0;
  margin-bottom: 0px;
  transition: transform 0.3s ease; /* Add smooth transition for scaling */
  align-self: center;
  margin-left: 33%;
}
